# Logs
logs/
db/
*.log
*.db
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/

# dotenv environment variables file
.env

# VS Code configs
.vscode/
.eslintrc.json

# dev test class
test*.js