doctype html
html(lang='en')
	head
		title Athena

		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width', initial-scale='1')

		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans')
		link(rel='stylesheet', href='/css/app.css')
		block scripts
			script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
			script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
			script(src='/js/app.js' defer='defer')
		
		
	body
		block header
			header
				h2: a(href='/') Athena
				hr


		block content

		footer
			hr
			div.footer-content
				- version = process.env.npm_package_version || ''
				a.left(href='https://github.com/SylverFox/Athena')= 'Athena '+version
				a(href='/about') About
				a(href='/stats') Stats
				a(href='/api') API