extends layouts/main.pug

append scripts
	script(src='https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js')
	script.
		particlesJS.load('particles-js', 'particlesjs-config.json')

block header

append content
	div#particles-js

	main.frontpage
		div.title-bar
			h1 Athena
			form(action='/search', method='post', id='searchform')
				input#search.form-control(type='text', name='search', autocomplete='off', placeholder='search athena', value=query)

