extends layouts/main.pug

append content
	main
		div
			form#searchbar(action='/search', method='post')
				div.input-group.igflex
					input#search.from-control(type='text', class='form-control', name='search', autocomplete='off', value=query)
					span.input-group-btn
						button.btn.btn-primary(type='submit')
							span.glyphicon.glyphicon-search
		div.resultcontainer
			- console.log(searchresults)
			if searchresults && searchresults.length
				ul.searchresults
					each res in searchresults
						li.searchresult
							a.resultname(href='smb:'+res.paths[0]+'/'+res.filename)= res.filename
							span= '- '+helper.bytesToSize(res.size)
							br
							span:a.resultpath(href=res.paths[0])= res.paths[0]
			else
				| No results :(